    <div class="col-sm-6"> 

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Query-Log Tabelle <button class="btn btn-xs btn-primary" ng-click="refreshQueries()">Refresh</button></h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>Status</th>
                <th>SPARQL Commands</th>
                <th>Interaction</th>
              </tr>
            </thead>
              <tr ng-repeat="query in queryLogService.receivedQueries" ng-click="setSelection($index,query)" ng-class="{'active': $index == queryLogService.selectedRow}">
                <td>{{ query.id }}</td>
                <td style="white-space:nowrap;">{{ query.date | date : 'dd MMM yyyy , HH:mm:sss' }}</td>
                <td style="white-space:nowrap;"> 
                  <span ng-class="{'label label-success': query.success === true, 'label label-danger': query.success === false}">{{ query.success == true ? 'Success' : 'Failure' }}</span> {{query.statusText}}                  
                </td>
                <td>{{ query.keywordString }}</td>
                <td style="white-space:nowrap;">
                  <button ng-if="query.success === true" ng-click="openVisualisation(query)" type="button" class="btn btn-default">
                  <i class="fa fa-television" aria-hidden="true"></i> 
                  Visualise
                  </button>
                  <button ng-click="openExecutionDetails(query)" type="button" class="btn btn-default">
                  <i ng-class="{'fa fa-info-circle': query.success === false, 'fa fa-database': query.success === true}"></i>
                  {{ query.success == true ? 'Results' : 'Debugging' }}
                  </button>
              </td>
                
              </tr>
              

            </tbody>
            </table>        
        </div>

      </div>
      
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Query</h3>
        </div>
        <div class="panel-body">          
          <div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="queryLogService.selectedQuery.queryString">
          </div>
        </div>
        
      </div>

    </div>