<div class="row">

    <div class="col-sm-6"> 

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Query-Log Tabelle <button class="btn btn-primary" id="refreshQueryLog" ng-click="refreshQueries()">Refresh</button></h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>Status</th>
                <th>SPARQL Commands</th>
                <th>Interaction</th>
              </tr>
            </thead>
              <tr ng-repeat="query in receivedQueries" ng-click="setSelection(query)" ng-class="{'active': query.id === selectedQueryId}">
                <td>{{ query.id }}</td>
                <td>{{ query.date }}</td>
                <td> 
                  <span ng-class="{'label label-success': query.status === true, 'label label-danger': query.status === false}">{{ query.status }}</span>                  
                </td>
                <td>{{ query.keywordString }}</td>
                <td>
                  <button ng-click="openVisualisation(query)" type="button" class="btn btn-default">
                  <i class="fa fa-television" aria-hidden="true"></i> 
                  Visualise
                  </button>
                  <button ng-click="openDebugging(query)" id="deb3" type="button" class="btn btn-default">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  Debugging
                  </button>
              </td>
                
              </tr>
              

            </tbody>
            </table>        
        </div>

      </div>
      
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>corresponding Core Query <button class="btn button-grey" id="togglePrevieGraph">Toggle Preview</button></h3>
        </div>
        <div class="panel-body">
          <p ng-bind="fullQuery" style="white-space: pre; overflow-x: auto;"></p>
        </div>
      </div>
    </div>

  </div>