

    <div class="col-sm-5">  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Query Details</h3>
        </div>
        <div class="panel-body">

          <div class="row" style="outline: 1px ;outline-style: none; ">

            <div class="col-sm-1">
              <p>
                <label>Id:</label>
                <em>{{ queryLogService.selectedQuery.id }}</em>
              </p> 
            </div>
            
            <div class="col-sm-4">
              <p>
                <label>Date:</label>
                <span>{{ queryLogService.selectedQuery.date | date : 'dd MMM yyyy , HH:mm:sss'}}</span>
              </p>             
            </div>
            
            <div class="col-sm-4" style="white-space:nowrap;">
              <p>
                <label>Status:</label>
                <span ng-class="{'label label-success': queryLogService.selectedQuery.success === true, 'label label-danger': queryLogService.selectedQuery.success === false}">{{ queryLogService.selectedQuery.success == true ? 'Success' : 'Failure' }}</span> {{queryLogService.selectedQuery.statusText}}
              </p>             
            </div>

            <div class="col-sm-2" >
                <button ng-if="queryLogService.selectedQuery.success === true" ng-click="openResults()" type="button" class="btn btn-default">
                  <i class="fa fa-database" aria-hidden="true"></i> 
                  Results
                  </button>
                  <button ng-if="queryLogService.selectedQuery.success === false" ng-click="openDebugging()" type="button" class="btn btn-default" >
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  Debugging
                  </button>                            
            </div>   

          </div>

          <div class="row" style="outline: 1px ;outline-style: none; ">
            <div class="col-sm-12">
              <p>
                <label>Client:</label>
                <span>{{ queryLogService.selectedQuery.client }}</span>
              </p>             
            </div>                                       
          </div>

          <div class="row" style="outline: 1px ;outline-style: none; ">
            <div class="col-sm-12">
              <p>
                <label>User Agent:</label>
                <span>{{ queryLogService.selectedQuery.userAgent }}</span>
              </p>             
            </div>                                       
          </div>

          <div class="row" style="background-color: #f5f5f5">

            <div class="col-sm-12">

              <h4>SPARQL Query</h4>

              <div class="row" >

                <div class="col-sm-12" >

                  <button type="button" class="btn btn-block" ng-click="isCollapsed = !isCollapsed" style="text-align: left">
                    PREFIX - Region
                    <i  ng-class="{'fa fa-caret-down': !isCollapsed, 'fa fa-caret-up' : isCollapsed}"></i>
                  </button>

                  <div uib-collapse="!isCollapsed">                    
                    <div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="queryLogService.selectedQuery.prefixes">
              </div>  
                  </div>                 

                </div>
                
              </div>
          
              <div class="row" >

                <div class="col-sm-12" style="" >                  
                    <div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="queryLogService.selectedQuery.coreQuery">
                    </div> 
                    <button class="btn button-grey pull-right" ng-click="update()" style="background-color: #c4c4c4;">update Graphic</button>  
                    <button class="btn button-grey pull-right" ngclipboard data-clipboard-text="{{queryLogService.selectedQuery.queryString}}" style="background-color: #c4c4c4; margin-right: 6px;">copy query to clipboard</button>            
                </div>
              </div>

              

            </div>            
            
          </div>          
          
        </div>
      </div>
    </div>

    <div class="col-sm-7">
       
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3>Query Graph <button class="btn button-grey" id="toggleLegend">Toggle Legend</button></h3>          
        </div>

        <div class="panel-body" id="queryGraph">
                <div id="graph" class="col-sm-10" ng-if="queryLogService.selectedQuery.success === true">
                <svg data-ng-mouseleave="dragNodeService.dragNode(null)"
                     data-ng-attr-view_box="0 0 {{graphSize.width}} {{graphSize.height}}"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">

                    <g id="sparql-js-graph-edges">
                        <g data-ng-repeat="edge in edges" edge="edge" highlight="highlightService"></g>
                    </g>
                    <g id="sparql-js-graph-nodes">
                        <g data-ng-repeat="node in nodes" node="node" highlight="highlightService"></g>
                    </g>

                    <g id="sparql-js-graph-sub-graphs">
                        <g class="sub-graph"
                           data-ng-repeat="subGraph in subGraphs"
                           data-ng-attr-transform="translate({{subGraph.getNodeList()[0].getX() + subGraph.getNodeList()[0].getEllipseParameterX()}}, {{subGraph.getNodeList()[0].getY() - subGraph.getNodeList()[0].getEllipseParameterY() - 24}})"
                           data-ng-mouseover="highlightService.highlight(subGraph)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(subGraph)}">
                            <image height="24" xlink:href="./glyphicons/glyphicons-692-tree-structure.png"
                                   width="26"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-filters">
                        <g class="filter"
                           data-ng-repeat="filter in filters"
                           data-ng-attr-transform="translate({{filter.getNodeList()[0].getX() + filter.getNodeList()[0].getEllipseParameterX()}}, {{filter.getNodeList()[0].getY() + filter.getNodeList()[0].getEllipseParameterY()}})"
                           data-ng-mouseover="highlightService.highlight(filter)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(filter)}"
                           data-ng-show="filter.getNodeList().length > 0">
                            <image height="24" xlink:href="./glyphicons/glyphicons-321-filter.png"
                                   width="20"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-binds">
                        <g class="bind"
                           data-ng-repeat="bind in binds"
                           data-ng-attr-transform="translate({{bind.getNodeList()[0].getX() - bind.getNodeList()[0].getEllipseParameterX() - 20}}, {{bind.getNodeList()[0].getY() + bind.getNodeList()[0].getEllipseParameterY()}})"
                           data-ng-mouseover="highlightService.highlight(bind)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(bind)}"
                           data-ng-show="bind.getNodeList().length > 0">
                            <image height="24" xlink:href="./glyphicons/glyphicons-51-link.png" width="20"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-orders">
                        <g class="order"
                           data-ng-repeat="order in orders"
                           data-ng-attr-transform="translate({{order.getNodeList()[0].getX() - order.getNodeList()[0].getEllipseParameterX() - 24}}, {{order.getNodeList()[0].getY() - order.getNodeList()[0].getEllipseParameterY() - 23}})"
                           data-ng-mouseover="highlightService.highlight(order)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(order)}">
                            <image height="23" xlink:href="./glyphicons/glyphicons-404-sorting.png"
                                   width="24"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-services">
                        <g class="service"
                           data-ng-repeat="service in services"
                           data-ng-attr-transform="translate({{service.getNodeList()[0].getX() - 13}}, {{service.getNodeList()[0].getY() + service.getNodeList()[0].getEllipseParameterY() + 3}})"
                           data-ng-mouseover="highlightService.highlight(service)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(service)}">
                            <image height="26" xlink:href="./glyphicons/glyphicons-197-exclamation-sign.png"
                                   width="26"></image>
                        </g>
                    </g>
                </svg>
                </div>
                
                <div class="col-sm-2" ng-if="queryLogService.selectedQuery.success === true">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a>Graph ({{subGraphs.length}})<span class="fa arrow" data-ng-show="subGraphs.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="subGraph in subGraphs">
                                    <a data-ng-bind="subGraph.getName()" data-ng-mouseover="highlightService.highlight(subGraph)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li id="union1">
                            <a>Union ({{unions.length}})<span class="fa arrow" data-ng-show="unions.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="union in unions">
                                    <a data-ng-bind="union.getName()" data-ng-mouseover="highlightService.highlight(union)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                        </li>
                        <li id="filter1">
                            <a>Filter ({{filters.length}})<span class="fa arrow" data-ng-show="filters.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="filter in filters">
                                    <a data-ng-bind="filter.getText()" data-ng-mouseover="highlightService.highlight(filter)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                        </li>
                        <li id="service1">
                            <a>Service ({{services.length}})<span class="fa arrow" data-ng-show="services.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="service in services">
                                    <a data-ng-bind="service.getName()" data-ng-mouseover="highlightService.highlight(service)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                        </li>
                        <li id="bind1">
                            <a>Bind ({{binds.length}})<span class="fa arrow" data-ng-show="binds.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="bind in binds">
                                    <a data-ng-bind="bind.getText()" data-ng-mouseover="highlightService.highlight(bind)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                        </li>
                        <li id="orderby1">
                            <a>Order by ({{orders.length}})<span class="fa arrow" data-ng-show="orders.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="order in orders">
                                    <a data-ng-bind="order.getText()" data-ng-mouseover="highlightService.highlight(order)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                        </li>
                        <li id="limit">
                            <a>Limit: {{limit}}</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
      </div>
    </div>